<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="DivisionWorkLogMapper">
  	
  	<select id="list" resultType="com.KHbiz.workLog.DivisionWorkLogDTO">
  		select * from division_workLog where division=#{division} and state=#{state} and reg_date like '%' || #{reg_date} || '%'
  	</select>
  	<insert id="write" parameterType="com.KHbiz.workLog.DivisionWorkLogDTO">
  		insert into division_workLog values(#{division},division_workLog_seq.nextVal,#{position},#{job},#{name},#{id},#{plan},#{result},#{noted},#{state},sysdate,#{upload},#{payment_state},#{payment_id},#{grade})
  	</insert>
  
  </mapper>